* {
background-color:pink;
}

h1 {
  color: white;
  font-size: 52px;
  text-align: center;
  too:200px
}

.container {
  background-image: url(https://www.oberlo.com/blog/animal-crossing);
  background-size: cover;
  height:700px;
  margin: 0 auto;
  width:50%;

}
