.container {
  background-image: url(https://www.oberlo.com/blog/animal-crossing
  background-size: cover;
  height:700px;
  margin: 0 auto;
  width:50%;

}

h1 {
  color: #fff;
  font-size:52px;
  position:relative;
  text-align:center;

}
}
