* {
background-color:darkgreen;
}

h1 {
  color: white;
}

body {
  background-color: darkgreen;
}


button {
  background-color:lightgreen;
  color:black;
  border:none;
  padding:50px;
}

.yes-hover:hover {
  background-color:pink;
}

.image {
   text-align: center;
   position: relative;
   width: 100%;
}

h2 {
   position: absolute;
   top: 200px;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');


p {
  font-family: 'Unica One', Helvetica, sans-serif;
  font-size:52px;
  font-weight:500;
  text-align:center;
  width: 100%;
  margin: 0 auto;
  top: 65px;
  position:relative;
}

.content {
  text-align: center;
  position: relative;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 1000px) {
  body {
    background-color: pink;
}


@media screen and (max-width: 500px) {
  body {
    background-color: MediumSeaGreen;
}
