<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
</style>

.navigation-menu, {
  background-color:#C45B1F;
}

#orange-bg {
  background-color:#C45B1F;
}



.navigation-menu a{
  font-family: 'Roboto-Light', sans-serif;
}

.navigation-menu h1{
  margin-left: 30px;
  font-size: 60pt;
}



.top-nav a{
font-family: 'Roboto-Bold', sans-serif;
color:white;
margin-left: 30px;
line-height: 1.75;
}

.top-nav img{
margin-left: 30px;
}


a:link {
  text-decoration: none;
  margin-left: 20px;
}


.top-nav{
background-color:#C45B1F;
width: 100%;
margin-bottom: 30px;
}

.top-nav h1{
  color:white;
  margin-left: 30px;
}


h1 {
  font-family: 'Roboto-Light', sans-serif;
}

h2 {
  font-family: 'Roboto-Light', sans-serif;
  margin-left: 30px;
  color:#C45B1F;
}

p {
  font-family: 'Roboto-Light', sans-serif;
  margin-left: 30px;
}

li {
  font-family: 'Roboto-Light', sans-serif;
  margin-left: 30px;
}

.tea li {
  font-family: 'Roboto-Light', sans-serif;
  line-height: 1.75;
  margin-left: 5;
}

body { padding: 0; margin: 0; }


.specials-box{
  background-color: #C45B1F;
  margin-top: 30px;
  margin-bottom: 30px;
}

.specials-box h1{
  margin-left: 40px;
  margin-top: 30px;
}

.specials-box p{
  margin-left: 40px;
  margin-top: 30px;
  color: white;
}

.tea{
  background-color:#C45B1F;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.tea h2{
  color:white;
  margin-left: 30px;
}

.tea li{
  color:white;
  margin-left: 30px;
}

li, ul, p {
  margin: 0;
  padding: 0;
}

body {
  width:100%;
  margin:0px;
  padding:0px;
}

section {

  width: 100%;
  margin: 0 auto;
  position: relative;
}

h1 {
  color:white;
  font-size:2rem;
}

section h1, p, ul, li {
  color:Black;
}

.iced-drinks, .hot-drinks, .intro {
  width:85%;
  margin: 0 auto;
  color:
}

 .menu-item-row {
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items:flex-start;
  padding: 0 0 5rem 0;
}

.menu-item-row p {
  width:30%;
}

.menu-item-row ul {
  width:60%;
  list-style-type: none;
  float: right;
  text-align:right;
  margin-left: 30px;
  margin-right: 30px;
}

.menu-item-row ul li {
  width:30%;
  display:inline-block;
}

.drink-name{
  margin-left: 30px;
}

.food-sidebar h2{
  color: White;
}

.food-sidebar p{
  color: White;
  margin-left: 40px;
}

.food-sidebar li{
  color: White;
  line-height: 1.75;
  margin-left: 40px;
}



.Paninis li{
margin-left: 30px;
margin-right: 30px;
}

.Paninis p{
margin-left: 30px;
margin-right: 30px;
}

.Locations img{
width 100%;
}

.Contact{

  line-height: 1.75;
}

.contact h2{
  margin-left: 30px;
}

.contact img{
width:100%;
}
.bottom h2{
color: white;
}

.bottom{
  background-color:#C45B1F;
  width:100%;
}

.bottom-text{
  background-color: #C45B1F;
}

button {
  background-color:white;
  color:black;
  border:none;
  padding:20px;

}

.yes-hover1:hover {
  background-color:black;
  color: white;
}

.yes-hover1 {
  background-color:white;
  font-family: 'Roboto-Light', sans-serif;
  font-size: 12pt;
}

.yes-hover2:hover {
  background-color:black;
  color: white;
}

.yes-hover2 {
  background-color:white;
  font-family: 'Roboto-Light', sans-serif;
  font-size: 12pt;
}

.bottom {
 width: 100%;
 display:flex;
 justify-content: space-between;
 align-items:flex-start;
 padding: 0 0 1rem 0;
}

.bottom img {
 margin-left: 30px;
}

.bottom img {
 display: flex;
}

.bottom button{
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.banner-image-drinks{
  background-image: url("/Users/jessicascott/Desktop/gra-321/responsive-project/coffee.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 209px;
  display:flex;
  align-items: center;
}

.banner-image-drinks .banner-text {
  color: black;
  background-color:rgba(255, 255, 255, 0.8);
  align-items: center;
  margin-left: 40px;
}

.banner-image-food{
  background-image: url("https://images.unsplash.com/photo-1585841393012-e4ded4a6e2d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 209px;
  display:flex;
  align-items: center;
}


.about-banner {
  background-image: url("https://images.unsplash.com/photo-1500353391678-d7b57979d6d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 209px;
  padding: 5%;
  display:flex;
  align-items: center;
}

.banner-text {
background-color: rgba(255, 255,255, 0.8);
width:80%;
margin-left: 30px;
margin-right: 30px;
margin-top: 64px;
margin-bottom: 64px;
}

.banner-image-food .banner-text-food {
background-color: rgba(255, 255,255, 0.8);
width:80%;
margin-left: 30px;
margin-right: 30px;
margin-top: 64px;
margin-bottom: 64px;
}

.banner-text p  {
  color:black;
  font-size: 10pt;
  margin-bottom: 23px;
  margin-left: 30px;
  margin-right: 23px;
}

.banner-text h1{
  color:black;
  font-size: 30pt;
  margin-top: 23px;
  margin-left: 30px;
  margin-right: 23px;
  align: center;
}


.locations p{
  margin-left: 30px;
  margin-bottom: 30px;
}

.locations a{
  margin-left: 30px;
}

.contact h2{
margin-left: 30px;
}

.banner-image-drinks{
  background-image: url("https://images.unsplash.com/photo-1509042239860-f550ce710b93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 209px;
  display:flex;
  align-items: center;
}

.banner-image-drinks h1 {
  color: black;
  text-align: center;
}

.banner-image-food h1 {
  color: black;
  text-align: center;
}
.bottom-h2{
  background-color:#C45B1F;
}

a {
  color:#C45B1F;
  font-family: 'Roboto-Light', sans-serif;
}


.food-sidebar {
  background-color: #C45B1F;
  width:100%;
}

.Locations h2{
  margin-left: 30px;
}



@media only screen and (min-width:400px){
  .top-nav {
    margin-bottom: 73px;
  width:100%;
  margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
  }

.top-nav a{
  font-size: 30pt;
  font-family: 'Roboto-Light', sans-serif;
}

.top-nav img{
  width: 326.03px;
  height:125.99px;
}


  .specials-box{

    margin-top: 73px;
    margin-bottom: 73px;
    margin-left: 135px;
    margin-right: 135px;
    width: 1170px;
  }

  .specials-box h1{
    font-size: 60pt;
  }

  .specials-box p{
    font-size: 30pt;
  }


.banner-image1{
  margin-top: 73px;
}


.top-nav{
  width: 100%;
}

.about-banner{
  margin-top: 73px;
  margin-left: 135px;
  margin-right: 135px;
  width: 1171px;
  height: 657px;
}

.about-banner h1{
  font-size: 60pt;
}

.about-banner p{
  font-size: 20pt;
}

.banner-image-drinks{
  margin-top: 73px;
  margin-left: 135px;
  margin-right: 135px;
  width: 1171px;
  height: 657px;
}

.banner-image-drinks h1{
  font-size: 60pt;
  align: center;
}


.banner-image-food{
  margin-top: 73px;
  margin-left: 135px;
  margin-right: 135px;
  width: 1171px;
  height: 657px;
}

.tea{
  margin-left: 135px;
}

.tea li{
  font-size: 30px;
}

.tea h2{
  font-size: 60px;
}

.tea{
  width: 20%;
}

.top-nav img{
  margin-left: 120px;
}


.food-content {
display:flex;

}

.food-sidebar {
  background-color: #C45B1F;
  margin-left: 135px;
  margin-right: 30px;
  margin-top: 73px;
  margin-bottom: 73px;
  width: 60%;

}

.food-sidebar li{
  font-size: 30px;
}

.food-sidebar h2{
  font-size: 60px;
}

.food-menu h2{
  font-size: 60px;
}


.food-menu p{
  font-size: 30px;
}

.food-menu li{
  font-size: 30px;
}

.banner-text-food h1{
  font-size: 60px;
}
.locations img{
  width: 421px;
  height: 623px;
  margin-left: 135px;
  object-fit: cover;
}

.Contact{
display: flex;
}

.Contact p{
font-size: 30pt;
margin-left: 30px;
}

.Contact h2{
font-size: 60pt;
margin-left: 30px;
}

.Contact img{
width: 421px;
height: 481px;
margin-left: 135px;
object-fit: cover;
}


.locations{
  display: flex;
}

.locations p{
  font-size: 30pt;
  margin-left: 30px;
}

.locations a{
  font-size: 30pt;
  margin-left: 30px;
}
.locations h2{
  font-size: 60pt;
  margin-left: 30px;
}

.drink-content{
  display: flex;
}

.drink-content h2{
  font-size: 60pt

}

.drink-content li{
  font-size: 30pt

}


.drink-name {
  font-size: 30pt;
}

.Locations img{
  height:
}

.Paninis li{
  margin-bottom: 73px;
}

.menu-item-row {
 width: 100%;
 display:flex;
 justify-content: space-between;
 align-items:flex-start;
 padding: 0 10 5rem 0;
}

.bottom button{
  margin-top: 73px;
}


.bottom img{
  margin-top: 73px;
}

.bottom h2{
  margin-top: 73px;
  margin-left: 135px;
  font-size: 60pt;
}







}
