<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
</style>

.navigation-menu, {
  background-color:#C45B1F;
  width: 100%;
  margin: 0;
}

#orange-bg {
  background-color:#C45B1F;
}



.navigation-menu a{
  font-family: 'Roboto-Light', sans-serif;
}

.top-nav a{
font-family: 'Roboto-Bold', sans-serif;
color:white;
margin-left: 30px;
line-height: 1.75;
}

.top-nav h1{
margin-left: 30px;

}

a:link {
  text-decoration: none;

}


.top-nav{
background-color:#C45B1F;
width: 100%;
margin-bottom: 30px;
}

.top-nav h1{
  color:white;
  margin-left: 30px;
}


h1 {
  font-family: 'Roboto-Light', sans-serif;
}

h2 {
  font-family: 'Roboto-Light', sans-serif;
  margin-left: 30px;
  color:#C45B1F;
}

p {
  font-family: 'Roboto-Light', sans-serif;
  margin-left: 30px;
}

li {
  font-family: 'Roboto-Light', sans-serif;
  margin-left: 30px;
}

.tea li {
  font-family: 'Roboto-Light', sans-serif;
  line-height: 1.75;
  margin-left: 5;
}

body { padding: 0; margin: 0; }

.Specials{
  background-color:#C45B1F;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Specials h2{
  color:white;
  margin-left: 30px;
}

.Specials p{
  color:white;
  margin-left: 30px;
  margin-right: 30px;
}

.tea{
  background-color:#C45B1F;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.tea h2{
  color:white;
  margin-left: 30px;
}

.tea li{
  color:white;
  margin-left: 30px;
}

li, ul, p {
  margin: 0;
  padding: 0;
}

body {
  width:100%;
  margin:0px;
  padding:0px;
}

section {

  width: 100%;
  margin: 0 auto;
  position: relative;
}

h1 {
  color:white;
  font-size:2rem;
}

section h1, p, ul, li {
  color:Black;
}

.iced-drinks, .hot-drinks, .intro {
  width:85%;
  margin: 0 auto;
  color:
}

 .menu-item-row {
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items:flex-start;
  padding: 0 0 1rem 0;
}

.menu-item-row p {
  width:30%;
}

.menu-item-row ul {
  width:60%;
  list-style-type: none;
  float: right;
  text-align:right;
  margin-left: 30px;
  margin-right: 30px;
}

.menu-item-row ul li {
  width:30%;
  display:inline-block;
}

.drink-name{
  margin-left: 30px;
}

.food-sidebar h2{
  color: White;
}

.food-sidebar li{
  color: White;
  margin-left: 30px;
  line-height: 1.75;
}



.Paninis li{
margin-left: 30px;
margin-right: 30px;
}

.Paninis p{
margin-left: 30px;
margin-right: 30px;
}

.Locations {
margin-left: 30px;
margin-right: 30px;
margin-top: 30px;
margin-bottom: 30px;
}

.Contact{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.75;
}

.bottom h2{
color: white;
}

.bottom{
  background-color:#C45B1F;
  width:100%;
}


button {
  background-color:white;
  color:black;
  border:none;
  padding:20px;

}

.yes-hover1:hover {
  background-color:black;
  color: white;
}

.yes-hover1 {
  background-color:white;
  font-family: 'Roboto-Light', sans-serif;
  font-size: 12pt;
}

.yes-hover2:hover {
  background-color:black;
  color: white;
}

.yes-hover2 {
  background-color:white;
  font-family: 'Roboto-Light', sans-serif;
  font-size: 12pt;
}

.bottom {
 width: 100%;
 display:flex;
 justify-content: space-between;
 align-items:flex-start;
 padding: 0 0 1rem 0;
}

.bottom img {
 margin-left: 30px;
}

.bottom button{
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.banner-image{
  background-image: url("/Users/lindseymariegomez/Dropbox/_Projects - Current/ASU GRA 223 - Typography- (LG)/ASU GRA 321-322/321/Digital/Student Feedback Charlies Responsive/_11.2020/jessica-scott/responsive-project/coffee.jpg");
  background-size: cover;
  background-position: center center;
  width: 375px;
  height: 209px;
  display:flex;
  align-items: center;
}

.banner-image1{
  background-image: url("/Users/lindseymariegomez/Dropbox/_Projects - Current/ASU GRA 223 - Typography- (LG)/ASU GRA 321-322/321/Digital/Student Feedback Charlies Responsive/_11.2020/jessica-scott/responsive-project/birdseye_coffee.jpg");
  background-size: cover;
  background-position: center center;
  width: 375px;
  height: 209px;
  display:flex;
  align-items: center;
}


.banner-image1 .banner-text {
  color: black;
  padding: 50px 80px;
  background-color:rgba(255, 255, 255, 0.8);
}

.about-banner {
  background-image: url("/Users/jessicascott/Desktop/gra-321/responsive-project/img/birdseye_coffee.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 209px;
  padding: 5%;
  display:flex;
  align-items: center;
}

.banner-text {
background-color: rgba(255, 255,255, 0.8);
width:80%;
margin: 0 auto;
padding: 10px;
}

.banner-text h1, .banner-text p  {
  color:black;
}





.banner-image2{
  background-image: url("/Users/jessicascott/Desktop/gra-321/responsive-project/img/bagel.jpg");
  background-size: cover;
  background-position: center center;
  width: 375px;
  height: 209px;
  display:flex;
  align-items: center;
}

.banner-image2 h1 {
  color: black;
  background-color:rgba(255, 255, 255, 0.8);
  text-align: center;
  margin: 0 auto;
}

.bottom-h2{
  background-color:#C45B1F;
}

a {
  color:#C45B1F;
  font-family: 'Roboto-Light', sans-serif;
}

@media only screen and (min-width:500px){
  .top-nav {
    margin-bottom: 30px;
  width:90%;
  margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
  }

.Specials{
 margin-top: 30px;
 margin-left: 30px;
 margin-right: 30px;
}

.banner-image1{
  margin-top: 30px;
}

.food-content {
display:flex;
width: 80%;

}

.food-sidebar {
  width: 50%;
  background-color: #C45B1F;

}

.food-menu {
width: 60%;
}

.tea {
  width: 30%;
  background-color: #C45B1F;

}


}
